<div ng-controller="PinsCtrl">
  <div class="row">
    <div class="col-xs-4"><h3>Name</h3></div>
    <div class="col-xs-4"><h3>Pin pi</h3></div>
    <div class="col-xs-4"><h3>Value</h3></div>
  </div>

  <hr />

  <div ng-repeat="pin in pins">
    <div class="row">
      <div class="col-xs-4">
        <a href="#" editable-text="pin.name" onbeforesave="changedValue(pin)">{{ pin.name || "empty" }}</a>
      </div>
      <div class="col-xs-4">
        <a href="#" editable-number="pin.pin_pi" onbeforesave="changedValue(pin)">{{ pin.pin_pi || "empty" }}</a>
      </div>
      <div class="col-xs-4">
        <input type="checkbox" ng-model="pin.value" bootstrap-switch ng-change="changedValue(pin)"  />
      </div>
    </div>
  </div>
</div>
